    html,
    body,
    header,
    .view {
      height: 100%;
    }
    #backimg{
      opacity: 0.3;
    }
    .raginifont{
      
      color: #45526e;
    }
    .raginisubtitle{
      font-family: 'Bungee Inline', cursive;
      color: #59698d;
    }
    .raginicontent{
      font-family: 'Comfortaa', cursive;
      color: #f2f6ff;
    }
    .pagehead{
      font-family: 'Patua One', cursive;
      color: #4B515D;
    }
    @media (max-width: 559px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 560px) and (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 700px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 600px;
      }
    }
